/* ======================================
 * ! Alt Tab
 * ====================================== */
/*
 * This styles the normal alt-tab popup
 *
 * See also window-list module for a similar selector
 */
#uiGroup > #altTabPopup {
	padding: 0;
	spacing: 4px;

	.switcher-list {
		border-image: url("img/containers/tile-bg.svg") 10;
		color: $text-secondary-invert;
		padding: 1px;
		font-size: 100%;

		.item-box {
			padding: 10px;

			&:selected {
				color: $text-primary-invert;
				background-color: $hlight-tile;

				/* Popup thumbnail */
				&:last-child { background-color: transparent; }
			}

			StLabel { padding-top: .4em; }
		}
	}

	.switcher-arrow {
		color: transparent;
	}
}

/*
 * This styles the window name box when alt-tab is
 * in 'coverflow' or 'timeline' modes
 */
#uiGroup > StWidget > .switcher-list {
	border-image: url("img/containers/tile-bg.svg") 10;
	color: $text-primary-invert;
	font-weight: normal;
}

.switcher-list-item-container { spacing: 0; }

.thumbnail { width: 256px; }

.alt-tab-app {}
