/* ======================================
 * ! Lightbox + flashspot
 * ====================================== */

/* The background shade when a dialog appears */
.lightbox { background-color: rgba(#000, .65); }


/* Among other places, appears when adding an applet */
.flashspot { background-color: rgba(#fff, .6); }


/* ======================================
 * ! Modal dialogs
 * ====================================== */

.modal-dialog {
	color: $text-primary;
	font-size: $font-size-base;
	@include colored-element;

	> * {
		border-image: url("img/containers/inner-bg__bottom.svg") 3;
		padding: 16px + 1;
	}

	&-button-box {
		border-image: url("img/containers/modal-button-box.svg") 3;
		spacing: 0;
		padding: 11px;
	}

	&-button {
		@include btn-primary;
		@include btn-size("wide");
	}
}

/* ======================================
 * ! Run dialog
 * ====================================== */

.run-dialog {
	> * {
		border-image: url("img/containers/inner-bg-dark.svg") 3;
		spacing: 10px;
		padding: 10px + 1;
	}

	> .modal-dialog-button-box {
		background-color: rgba(0, 0, 0, 0);
		border-image: none;
		padding: 0;
		height: 0;
	}

	&-error-box {
		padding: 0;
		spacing: 6px;
		color: $text-danger;
	}

	&-error-icon {
		color: $text-danger;
	}

	&-completion-box {
		border-image: url("img/containers/inner-bg.svg") 3;
		padding: 7px;
		color: $text-primary;
	}

	&-label {/*!*/}

	&-entry {/*!*/}
}
/* ======================================
 * ! About Dialog
 * ====================================== */

.about-content {
	min-width: 360px;
	max-width: 520px;
	spacing: 16px;
}

.about-icon {
	color: $text-primary;
	border-image: url("img/containers/inner-bg-dark.svg") 3;
	padding: 7px;
}

.about-title {
	font-size: $font-size-xxl;
	padding-left: 16px;
	font-weight: normal;
}

.about-uuid {
	color: $text-secondary;
	padding-left: 16px;
}

.about-description {/*!*/}

.about-version {
	padding: 8px;
	font-weight: bold;
	color: $text-info;
}

.about-scrollBox {
	border-image: url("img/containers/inner-bg-dark.svg") 10;
	padding: 1px;

	&-innerBox {
		padding: 1.2em;
		spacing: 1.2em;
	}
}

#about-website:hover StLabel {
	text-decoration: underline;
}
