/* ======================================
 * ! On-screen Keyboard
 * ====================================== */

#keyboard {
	border-image: url("img/containers/sound-applet-overlay-bg.svg") 3;
}

.keyboard-layout {
	spacing: 6px; // Space between rows
	padding: 10px + 1;
}

.keyboard-row {
	spacing: 4px; // Horizontal space between keys
}

.keyboard-key {
	@include btn-primary;
	min-height: 30px;
	min-width: 30px;
	font-size: $font-size-xl;
}

/* Appears when long-pressing certain keys */
.keyboard-subkeys {
	border-image: url("img/containers/tooltip.svg") 10;
}
