/* ======================================
 * ! Popup Menus
 * ====================================== */

.menu {
	@include colored-element;
	margin: 4px;
}

.popup-menu-content {
	color: $text-primary;
	border-image: url("img/containers/inner-bg.svg") 3;
	padding: 7px 1px;
	min-width: 64px;
	font-size: $font-size-base;
}

.popup-menu-icon {
	icon-size: 16px;
	color: $text-secondary;
}

.popup-menu-item {
	padding: .5em 1.4em;
	spacing: .5em;

	&:active {
		border-image: url("img/containers/hover-popup.svg") 10;
	}

	&:insensitive {
		font-weight: normal;
		color: $text-disabled;

		.popup-menu-icon, StIcon {
			color: $text-disabled;
		}
	}
}

.popup-menu-item-dot {
	color: $accent-primary;
}

.popup-sub-menu {
	border-image: url("img/containers/popup-submenu.svg") 9;
	box-shadow: none;
	background-gradient-direction: none;
	padding: 9px 0;
	color: $text-primary;

	.popup-menu-item:active {
		border-image: url("img/containers/hover-popup.svg") 9;
		color: $text-primary;
	}
}

.popup-menu-arrow {
	icon-size: 13px;
	@include size(13px);
	color: $text-primary;
}

.popup-separator-menu-item {
	-gradient-height: 1px;
	-gradient-start: $border-element;
	-gradient-end: $border-element;
	-margin-horizontal: 0;
	height: 1px;
}

.popup-slider-menu-item {
	@extend .slider;
}

/* Right click in scale (show all windows) */
.popup-combo-menu {
	border-image: url("img/containers/tile-bg.svg") 3;
	padding: 2px + 1;
	color: $text-primary-invert;

	.popup-menu-item:active {
		border-image: url("img/containers/hover-transparent.svg") 3;
	}
}

.popup-inactive-menu-item {
	color: $text-secondary;
}

.popup-subtitle-menu-item {
	font-weight: bold;
}

/* used in power applet */
.popup-device-menu-item {
	spacing: .8em;

	.popup-inactive-menu-item {
		color: $text-info;
	}
}
