/* ======================================
 * ! Switchers
 * ====================================== */

.toggle-switch, .toggle-switch-us, .toggle-switch-intl {
	@include size(30px, 15px);
	background-image: url("img/controls/switch.svg");
	background-color: $border-element;
	background-position: 0px 0px;

	&:checked {
		background-position: 15px 0px;
		background-color: $accent-primary;
	}
}
