// Shorthand for size properties
@mixin size($width, $height:$width, $important:false) {
	$important: if($important, !important, null);

	width: $width $important;
	height: $height $important;
}

@mixin colored-element {
	background-color: $accent-element;
	border: 1px solid $border-element;
	padding: 6px;
}

@function normalized-lightness($bg) {
	@return (0.299 * red($bg) + 0.587 * green($bg) + 0.114 * blue($bg)) / 255;
}
