/* ======================================
 * ! Desklets
 * ====================================== */

.desklet {
	color: $text-primary-invert;

	&-with-borders {
		@include colored-element;
		color: $text-primary-contrast;
		text-shadow: none;
	}

	&-with-borders-and-header {
		@include colored-element;
		border-top: none;
		color: $text-primary-contrast;
		text-shadow: none;
	}

	&-header {
		@include colored-element;
		border-bottom: none;
		color: $text-primary-contrast;
		text-shadow: none;

		padding-bottom: 0;
		font-size: $font-size-xl;
		font-weight: normal;
	}

	&-drag-placeholder {
		border-image: url("img/containers/hover.svg") 9;
	}
}
