or/* ======================================
 * ! Applets
 * ====================================== */

/*
 * Fullcolor icons have the 'applet-icon' class.
 * Symbolic icons have the 'system-status-icon' class.
 */
.applet-icon,
.system-status-icon {
	icon-size: 16px;
	padding: 0;
	spacing: 0;
}

.applet-label {
	color: $text-primary-contrast;
}

.applet-separator {
	.panel-top &, .panel-bottom & { padding: 0 7px; }
	.panel-left &, .panel-right & { padding: 7px 0; }

	&-line {
		background-color: $border-element;
		width: 1px;
	}

	&-line-vertical {
		border: 0 $border-element;
		border-bottom-width: 1px;
	}
}

.applet-box {
	padding: 0 6px;
	color: $text-primary-contrast;
	spacing: 4px;

	&:hover {
		border-image: url("img/panel/applet__horizontal__hover.svg") 10;
	}

	&:checked {
		border-image: url("img/panel/applet__horizontal__checked.svg") 10;
	}

	&.vertical {
		padding: 6px 0;

		&:hover {
			border-image: url("img/panel/applet__vertical__hover.svg") 10;
		}

		&:checked {
			border-image: url("img/panel/applet__vertical__checked.svg") 10;
		}
	}

	.applet-icon {
		icon-shadow: 0 0 transparent;
	}
}
