/* ======================================
 * ! User Applet
 * ====================================== */

.user-box {
	padding: 0.4em 1.3em;
	spacing: 10px;
}

.user-icon {
	border-image: url("img/containers/inner-bg-dark.svg") 10;
	padding: 4px;
	@include size(48px);
	border: 0 rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
	border-radius: 0;
}

.user-label {
	color: $text-primary;
	font-size: $font-size-lg;
}
