/* ======================================
 * ! Window list
 * ====================================== */

.window-list-box {
	spacing: 2px;
	padding: 0;

	.window-list-item-box { padding: 0 4px 0 0; }
	#appMenuIcon { padding: 0 0 0 8px; }

	&.vertical {
		.window-list-item-box { padding: 0; }
		#appMenuIcon { padding: 8px 0 0 0; }
	}
}

.window-list-item-box {
	color: $text-primary-contrast;
	border-image: url("img/panel/window-list.svg") 8;
	text-shadow: 0px 0px 4px 4px rgba(#000, .2);

	background-gradient-direction: vertical;
	background-gradient-start: transparent;
	background-gradient-end: transparent;
	transition-duration: 200;

	&:hover, &:hover:active, &:hover:checked, &:hover:focus {
		background-gradient-end: rgba(#fff, .25);
	}

	&:active, &:checked, &:focus  {
		border-image: url("img/panel/window-list__active.svg") 8;
	}

	.progress {
		border-image: url("img/panel/window-list__progress.svg") 8;
	}
}

.window-list-item-demands-attention {
	border-image: url("img/panel/window-list__atention.svg") 8;
}

/*
 * The window list thumbnail shares a class
 * with the alt-tab switcher, but it is
 * the direct child of the top container.
 *
 * Hopefully a 'switcher-list' doesn't appear
 * anywhere else as the direct child of '#uiGroup'.
 */
#uiGroup > .switcher-list {
	@include colored-element;
	color: $text-primary-contrast;
	font-size: $font-size-base;
	font-weight: normal;

	> StBoxLayout {
		spacing: .4em;

		> StBoxLayout {
			spacing: .4em;
		}
	}
}
