/* ======================================
 * ! Number-mode Workspace Switcher applet
 * ====================================== */

.workspace-switcher {
	padding: 0 2px;
	.vertical & { padding: 2px 0; }
}

.workspace-button {
	color: $text-secondary-contrast;
	padding: 0 $applet-padding;
	min-width: 1.5em;

	&.vertical {
		padding: $applet-padding 0px;
		min-height: 1.5em;
	}

	&:hover {
		border-image: url("img/panel/applet__horizontal__hover.svg") 12;
	}

	&:outlined {
		color: $text-primary-contrast;
		border-image: url("img/panel/applet__horizontal__checked.svg") 12;
	}

	&.vertical {
		&:hover {
			border-image: url("img/panel/applet__vertical__hover.svg") 12;
		}

		&:outlined {
			border-image: url("img/panel/applet__vertical__checked.svg") 12;
		}
	}
}

/* ======================================
 * ! Visual-mode Workspace Switcher applet
 * ====================================== */

.workspace-graph {
	padding: 0 round($applet-padding / 2);

	.vertical & { padding: round($applet-padding / 2) 0; }

	.workspace {
		// background-color: rgba(invert($text-primary-contrast), .1);
		// border: 1px darken($theme-color, 25%);
		background-color: rgba(invert($text-primary-contrast), .1);
		border: 1px rgba($text-primary-contrast, .25);

		&:active {
			background-color: rgba(invert($text-primary-contrast), .25);
			border-color: opacify($text-primary-contrast, .9);
		}

		.windows {
			-active-window-background: rgba($text-primary-contrast, .8);
			-active-window-border: rgba(invert($text-primary-contrast), .8);
			-inactive-window-background: rgba($text-primary-contrast, .4);
			-inactive-window-border: rgba(invert($text-primary-contrast), .4);
		}
	}
}
